<!DOCTYPE html>
<html>
  <head>
    <title>RoofPilot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>">
    </script>
  </head>

  <body>
  	<div class="container">
  		<div class="row">
  			<div class="nav nav-tabs">
          <li role="presentation">
            <%= link_to 'home', root_path %>
          </li>
          <li role="presentation">
            <%= link_to 'contact' %>
          </li>
          <!-- vv this is just a temporary tool to speed up population -->
          <li role="presentation">
            <%= link_to 'DEVTOOL#NEWPRODUCT', new_product_path %>
          </li>
          <li role="presentation">
            <%= link_to 'DEVTOOL#ALLPRODUCTS', allproducts_path %>
          </li>
  				<li role="presentation" class="pull-right">
  					<% if !user_signed_in? %>
  						<%= link_to "sign in", user_session_path %>
  					<% else %>
  						<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  					<% end %>
  				</li>
  			</div>
  		</div>



    	<%= yield %>
    </div>
  </body>
</html>
